.app {
  width: 960px;
  margin: 20px auto;
  
}

#color-header header {
  background-color: rgb(156, 236, 196);
}

#main-content {
display: flex;

}

#main-content aside {
  width: 160px;
  background-color: rgb(125, 88, 160);
  min-height: 400px;
}

#main-content main {
  width: 800px;
  background-color: rgb(52, 116, 116);
  min-height: 400px;

}


header,
aside,
main,
footer {

border: 1px solid rgb(182, 55, 55);
min-height: 100px;
margin: 10px;
background-color: rgb(146, 146, 231);
}